body {
    font-family: $fontFamily;
    color: var(--fontColor);
    background: var(--bg);
    font-size: $fontSize;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.form {
    p {
        text-align: center;
    }
}

h1 {
    margin-bottom: 20px;
    @media screen and (min-width: $md) {
        text-align: left;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--link);
    @include transition();
}