@import "../setup/variables";

.panel-global {
    width: 100%;
    max-width: 650px;
    min-width: 320px;
    margin: 0 auto 5vh;
    padding: 0 2vw;
    z-index: 1;

    h1 {
        padding: 0 25px;
        font-size: 2.5em;
        margin: 2em 0 0;
        text-align: left;
    }
    p {
        padding: 0 25px;
    }
}

.panel-listing {
    text-align: center;
    & > p {
        text-align: left;
    }
}